:root{
    --padding: 3rem 1.7rem;
    /* * COLORES PRIMARIOS */
    --clr-green:hsl(163, 72%, 41%);
    --clr-red: hsl(356, 69%, 56%);
    --fb: hsl(208, 92%, 53%);
    --tw: hsl(203, 89%, 53%);
    --ins: linear-gradient(45deg, hsl(37, 97%, 70%) 0%, hsl(329, 70%, 58%) 100%);
    --yt: hsl(348, 97%, 39%);
    /* * COLORES TEMA CLARO */
    --lt-bg: hsl(0, 0%, 100%);
    --lt-bg-pattern: hsl(225, 100%, 98%);
    --lt-bg-card: hsl(227, 47%, 96%);
    --lt-text-light: hsl(228, 12%, 44%);
    --lt-text-dark: hsl(230, 17%, 14%);
    /* * COLORES TEMA OSCURO */
    --dt-bg: hsl(230, 17%, 14%);
    --dt-bg-pattern: hsl(232, 19%, 15%);
    --dt-bg-card: hsl(228, 28%, 20%);
    --dt-text-dark: hsl(228, 34%, 66%);
    --dt-text-light: hsl(0, 0%, 100%);
    /* * COLORES TOGGLE */
    --toggle-dark: linear-gradient(to right, hsl(210, 78%, 56%) 0%, hsl(146, 68%, 55%) 100%);
    --toggle-light: hsl(230, 22%, 74%);
}
/* ! RESET */
*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, p{
    margin-block: 0;
}
img{
    display: block;
}
html{
    font-size: 14px;
}
body{
    font-family: 'Inter', sans-serif;
    margin: 0 auto;
    /* max-width: 375px; */
    background-color: var(--dt-bg);
    color: var(--dt-text-dark);
}
/* ! GENERAL STYLES */
/* ! HEADER */
.header{
    background-color: var(--dt-bg-pattern);
    padding-bottom: 8rem;
    margin-bottom: -12rem;
    border-radius: 0 0 3rem 3rem;
}
.header__container{
    padding: var(--padding);
}
.header__title{
    color: var(--dt-text-light);
    font-size: 1.7rem;
    margin-bottom: 0.3rem;
}
.header__subtitle{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
.header__divisor{
    opacity: 0.3;
    margin-bottom: 1.5rem;
}
.header__toggle{
    display: flex;
    justify-content: space-between;
}
.header__toggle-text{
    font-size: 1rem;
}
.toggle-container{
    width: 3.5rem;
    height: 1.7rem;
    background-image: var(--toggle-dark);
    border-radius: 10rem;
    display: flex;
    align-items: center;
    padding: .2rem;
    cursor: pointer;
}
.toggle-button{
    width: 1.3rem;
    aspect-ratio: 1/1;
    background-color: var(--dt-bg);
    border-radius: 50%;
}

/* ! CARDS */
.principal{
    margin-block: 4rem;
    display: grid;
    gap: 1.5rem;
    padding: var(--padding);
}
.principal__card{
    display: grid;
    place-items: center;
    width: 100%;
    max-width: 25rem;
    padding: 2.4rem 2rem 2rem;
    background-color: var(--dt-bg-card);
    margin: 0 auto;
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
}
.principal__card::before{
    content:'';
    position: absolute;
    top: 0;
    width: 100%;
    height: 0.4rem;
}
.principal__card:nth-child(1)::before{
    background-color: var(--fb);
}
.principal__card:nth-child(2)::before{
    background-color: var(--tw);
}
.principal__card:nth-child(3)::before{
    background-image: var(--ins);
}
.principal__card:nth-child(4)::before{
    background-color: var(--yt);
}
.card__user{
    display: flex;
    gap: 0.5rem;
    font-size: .9rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}
.card__followers{
    font-size: 4rem;
    line-height: 1.25;
    color: var(--dt-text-light);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.card__followers span{
    font-size: 0.9rem;
    color: var(--dt-text-dark);
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}
.card__today{
    display: flex;
    align-items: center;
    gap: 0.2rem;
    font-weight: 700;
    font-size: 0.9rem;
}
.green{
    color: var(--clr-green);
}
.red{
    color: var(--clr-red);
}
/* ! OVERVIEW */
.overview{
    padding: var(--padding);
}
.overview__title{
    color: var(--dt-text-light);
    font-size: 1.7rem;
    margin-bottom: 2rem;
}
.overview__container{
    display: grid;
    gap: 1rem;
}
.overview__card{
    background-color: var(--dt-bg-card);
    border-radius: 0.5rem;
    padding: 2rem 1.9rem 1.5rem;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.card-text{
    font-size: 1rem;
}
.card-counter{
    font-size: 2.3rem;
    color: var(--dt-text-light);
    line-height: 1.2;
}
.card-icon, .card-percent{
    margin-left: auto;
}
.card-percent{
    display: flex;
    align-items: center;
    align-self: flex-end;
    gap: 0.2rem;
    font-weight: 700;
    font-size: 0.8rem;
}


/* !RESPONSIVE */
@media (min-width: 768px ){
    .header{
        width: 100vw;
        padding-inline: 0;
        margin: 0 0 -12rem -0.5rem;
    }
    .header__container{
        display: flex;
        align-items: center;
        max-width: 1440px;
        margin: auto;
    }
    .header__divisor{
        display: none;
    }
    .header__toggle{
        display: flex;
        margin-left: auto;
        gap: 1rem;
    }
    .header__toggle-text{
        line-height: 1.5;
    }
    /* *PRINCIPAL */
    main{
        width: 1440px;
        margin: auto;
    }
    .principal{
        display: grid;
        /* grid-template-columns: 1fr 1fr 1fr 1fr ; */
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        width: 100%;
        margin: auto;
    }
    /* *OVERVIEW */
    .overview__container{
        /* grid-template-columns: 1fr 1fr 1fr 1fr; */
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;
        /* max-width: 1440px; */
    }


}